#sidebar {
    height: 90vh;
    width: 20vw;
    position: fixed;
    right: 1px;
    background-color: white;
    border: 1px black solid;
    z-index: 99 !important;
}
iframe {
    height: 100%;
    width: 100%;
}